<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Class</title>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

</head>

<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="http://free-icon-rainbow.com/i/icon_01659/icon_016590.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        MovieApp
    </a>
</nav>
<div class="container">
    <h1>Movies</h1>
    <h3>Movies we like</h3>

    <div></div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>MovieName</th>
            <th>ProduceYear</th>
            <th>Genre</th>
            <th>Duration</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Movie: ${movies}">
            <td th:text="${Movie.movieName}"/>
            <td th:text="${Movie.produceYear}"/>
            <td th:text="${Movie.genre}"/>
            <td th:text="${Movie.duration}"/>
            <td>
        </tbody>
    </table>
    <div>
        <a href="/Create">
            <button class="btn btn-primary">Create new Movie</button>
        </a>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>

</html>